rocket-shooter-android/bin/**
!rocket-shooter-android/bin/Rocket-Shooter.apk
rocket-shooter-android/jni/SDL*
rocket-shooter-android/obj/*
libs/
!psp/libs/
resources/conv.sh
resources/myConv.sh
.DS_Store
bin/*
build/*

